.main-area{
    display: flex;
    border: 1px solid lightgrey;
    margin-left: 36px;
    margin-bottom: 20px;
    border-radius: 20px;
}
img{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}
.details{
    width: 440px;
    margin-left: 50px;
    margin-top: 30px;
    color: #182C61;
}
button{
    margin-top: 80px;
    width: 120px;
}